In [5]:
print (23+56)
print (89*10*30)
print ("40+599")

79
26700
40+599

# Comments

In [6]:
# This is how the comments are made
print('commenting')

commenting

In [10]:
print ("2+2")
print ("2-2")
print ("4/2")
print("4*2")
print("5%2")
print ("2>3")

2+2
2-2
4/2
4*2
5%2
2>3

In [2]:
int(2.5)

2

In [3]:
float(5)

5.0

In [4]:
print()

In [5]:
# Use Shift and Tab as a HELP Buton

In [9]:
int("5")

5

In [11]:
int ("5")+5

10

In [12]:
"5"+"4"

'54'

In [15]:
print("Hello")
print("World")

Hello
World

In [16]:
"Hello "+"World!"

'Hello World!'

In [17]:
print(2+2)
# will give us 4

4

In [18]:
# even number 
print("5%2 is", 5%2)

5%2 is 1

In [19]:
6%2

0

In [21]:
name = "Don"
print(name)

Don

In [22]:
name = "Kirill"
print(name)

Kirill

In [9]:
age = "18+"
print(age)
age
print(age == False)
print(age == True)

18+
False
False

In [15]:
a = "Hi all!"
b = a

print(a)
print(b)

Hi all!
Hi all!

In [19]:
a = "Hi all!"
b = a

a=1234

print(a)
print(b)

1234
1234

In [22]:
a= 12
b = 12
print(a is b)
print (a==b)

True
True

In [23]:
a= 12
a=b
print(a is b)
print (a==b)

True
True

In [25]:
e= 1234
f=1234
print(e is f)
print (f is e)
print(e==f)
print(f==e)

False
False
True
True

In [26]:
""""
apple = 10
pineapple = 20
one apple costs 2$
one pineapple costs 3$
How much you have to pay for all the apples and pineapples

print 3 lines:

I have bought .... apples
I have bought ... pineapples 
In total I paid ...$
"""

'"\napple = 10\npineapple = 20\none apple costs 2$\none pineapple costs 3$\nHow much you have to pay for all the apples and pineapples\n\nprint 3 lines:\n\nI have bought .... apples\nI have bought ... pineapples \nIn total I paid ...$\n'

In [35]:
print("I have bought 10 apples")
print("I have bought 20 pineapples")
print ("I have paid",10*2+20*3,"$")

I have bought 10 apples
I have bought 20 pineapples
I have paid 80 $

In [52]:
apple = 10
pineapple = 20

total_apple = apple*2
total_pineapple = pineapple*3
total_paid = total_apple+total_pineapple

print('I have bought',apple, 'apples')
print('I have bought', pineapple,'pineapples')
print ('In total I paid', total_apple+total_pineapple, '$')

'I have bought {} apples'.format(apple)
'I have paid for apples {}$'. format (apple*2)

# By numbers you specify the order from format. For ex. {0} - pineapple... 
"I have bought {1} apples, {0} pineapple, and in total I've paid {2}$".format (pineapple,apple,total_paid)

# use "f"
f"I have bought {apple} apples, {pineapple} pineapple, and in total I've paid {total_paid}$"

result = "I have bought {1} apples, {0} pineapple, and in total I've paid {2}$"
print(result.format (pineapple,apple,total_paid))

I have bought 10 apples
I have bought 20 pineapples
In total I paid 80 $
I have bought 10 apples, 20 pineapple, and in total I've paid 80$

In [54]:
print (f"I have bought {apple} apples, {pineapple} pineapple, and in total I've paid {total_paid}$")

I have bought 10 apples, 20 pineapple, and in total I've paid 80$