In [1]:
2>3 and 4<3

False

In [2]:
2==2

True

In [4]:
2<3 and 4<5

True

In [30]:
a= 21
b= 21
print(a is b)
a= 2133
b= 2133
print(a is b)

True
False

In [82]:
an = [1,2222,3]
ann = ["apple","banana","pineapple","watermellon"]
print(an[1])
print(ann[0])
print(ann[-2])
print(ann[::-1])
print(ann[::2]) #every secon step it will skip the value so in this case we will see only 2 values in final result
ann.insert(1,"water") # insert a new value on position no1
print(ann)
ann.pop(0) # specifies the value to take off from the list where "0" is the index number
ann
print(len(ann)) # number of elements in the list
print((ann)+(an)) # concetenate values
("Hi")*4 # just dublicating the value No of times
print(ann[2:])
2222 in an # specify if the list contains the specified value

2222
apple
pineapple
['watermellon', 'pineapple', 'banana', 'apple']
['apple', 'pineapple']
['apple', 'water', 'banana', 'pineapple', 'watermellon']
4
['water', 'banana', 'pineapple', 'watermellon', 1, 2222, 3]
['pineapple', 'watermellon']

True

In [83]:
x =1 
y =2
x,y = y,x # the 1st variable == to 1st value and 2nd == 2nd
x
xx,yy,z = 1,33,44
a1 = (1,2,3) # also the list, but not possible to change, delete or add values
f"{x},{y},{xx},{yy},{z},{a1}"

'2,1,1,33,44,(1, 2, 3)'

In [90]:
dict1 = {"name":"John","age":33}
dict1

{'name': 'John', 'age': 33}

In [98]:
b2 ={"1stname":"Kirill","2ndname":"Dolbnev", "age":"27", "hair":"dark hair"}
b2
b2["1stname"]
b2.keys()
b2.values()
"1stname" in b2 # it search the values in keys

True

In [200]:
for v in range(1,10):#the way how loop work
    b= v+1
    print (b)

2
3
4
5
6
7
8
9
10

# List

In [117]:
list1 = [
    "string",
    1,
    ["Anothe","list"],
    {
    "name":"John", 
    "age":10
    },
    None
        ]

In [125]:
list1

['string', 1, ['Anothe', 'list'], {'name': 'John', 'age': 10}, None]

In [124]:
tuple1 = tuple(list1)
tuple1

('string', 1, ['Anothe', 'list'], {'name': 'John', 'age': 10}, None)

In [119]:
n1 = "Kirill"
dictionary ={
    "First name":n1,
    "cars":[
        "Mersedess",
        "Toyota",
        "Jeep"
    ],
    "children":
    {"name":"John","age":11
    }
}

In [126]:
dictionary.keys()
dictionary.values()

dict_values(['Kirill', ['Mersedess', 'Toyota', 'Jeep'], {'name': 'John', 'age': 11}])

In [136]:
print(dictionary["cars"])
print(dictionary.get("hh"))

['Mersedess', 'Toyota', 'Jeep']
None

In [144]:
newlist = list(tuple1)
newlist.append("New String")
tuple(newlist)
print(newlist)

['string', 1, ['Anothe', 'list'], {'name': 'John', 'age': 10}, None, 'New String']

In [145]:
a,b,c,d,e = tuple1 # unpacking - specifying the variables to each key
f"{a},{b},{c},{d},{e}"

"string,1,['Anothe', 'list'],{'name': 'John', 'age': 10},None"

## Task

In [166]:
newtab = list(range(1,101))
tuple(newtab)

print(newtab)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [168]:
for num in newtab: 
    if num % 2 != 0: 
       print(num, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [185]:
all_num = list(range(1,101))
odd_nums = []
for num in all_num:
    if num % 2 != 0:
        odd_nums.append(num)
print (odd_nums)
print("___")
odd_nums_3 = []
for num in all_num:
    if num % 10 == 0:
        odd_nums_3.append(num)
print (odd_nums_3)


print("___")

odd_nums_4 = []
for num in all_num:
    if num % 3 == 0 and num % 2 != 0:
        odd_nums_4.append(num)
print (odd_nums_4)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
___
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
___
[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99]

In [192]:
vb = []
for v in range(1,6): #the way how loop work
    vb.append(v)
print(vb)

[1, 2, 3, 4, 5]

In [193]:
list1 = vb
list1

[1, 2, 3, 4, 5]

In [210]:
for v in range(1,10):#the way how loop work
    b= v +2
    print (b)

3
4
5
6
7
8
9
10
11

In [208]:
def fibonacci(n): 
    a = 0
    b = 1
    if n < 0: 
        print("Incorrect input") 
    elif n == 0: 
        return a 
    elif n == 1: 
        return b 
    else: 
        for i in range(2,n): 
            c = a + b 
            a = b 
            b = c 
        return b 
  
# Driver Program 
  
print(fibonacci(9))

21